<header>
  <nav class="navigation">
    <div class="logotype">Notes</div>
    <ul class="categories">
      <li class="category-item"><a href="">Design</a></li>
      <li class="category-item"><a href="">Coding</a></li>
      <li class="category-item"><a href="">Books</a></li>
    </ul>
  </nav>
</header>

<div class="wrapper">
  <aside class="sidebar">
    <ul class="sidebar-list">
      <li class="sidebar-item sb-active">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Coding
        </div>
      </li>
      <li class="sidebar-item">
         <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Design
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          News
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          New ideas
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Movies
        </div>
      </li>
    </ul>
  </aside>

  <main class="content">
    <div class="subitems">
      <ul class="subitems-list">
        
        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>

        <li class="subitems-list-item active">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>

        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>

        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>

        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>
        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>
        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>
        <li class="subitems-list-item">
          <div class="subitem-logo">
            <img src="http://placehold.it/40x40" class="avatar" />
          </div>
          <div class="preview">
            <h3>Sara McLaclan <small>Jul 15</small></h3>
            <p><strong>The brand new season of Top Gear</strong></p>
          </div>
        </li>
        
      </ul>
    </div>

    <div class="subitems-detail">
      <h2>Note Detail</h2>
        <p>
          You probably haven't heard of them skateboard YOLO 3 wolf moon enamel pin. Semiotics beard normcore, cliche roof
           party everyday carry vaporware la croix art party cardigan retro.
           Beard cray umami, thundercats fingerstache paleo affogato prism tilde actually +1. Enamel pin cronut actually, kickstarte
        </p>
    </div>
  </main>
</div>