$grey      : #e6e6e6;
$midnight  : #1f282f;
$white     : #ffffff;
$nav-color : $white;
$blue      : #2196f3;
$red       : #df2324;
$yellow    : #fdd701;

@mixin transition($prop, $time) {
  transition: $prop $time ease;
}

a {
  text-decoration: none;
  color: black;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper{
  display: flex;
  background-color: pink;
  flex-grow: 1;
  
}

header{
  display: flex;
  height: 65px;
  background-color: $nav-color;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.logotype{
  display: flex;
  width: 160px;
  min-width: 120px;
  height: 65px;
  color: white;
  background-color: $blue;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.categories{
  display: flex;
  margin-left: 45px;
}

.category-item{
  margin: 0 10px;
}

.sidebar{
  min-width: 160px;
  background-color: $midnight;
}

.sidebar-list{
  display: flex;
  margin-top: 20px;
  flex-flow: column wrap;
  justify-content: center;
}
.sidebar-item{
  display: flex;
  //margin-top: 20px;
  padding: 5px 14px;
  cursor: pointer;
  color: #acb1b7;
  font-size: 13px;
  transition: all .2s ease-out;
  .sb-logo{
    margin-right: 10px;
  }
  .subitem-title{
    padding-right: 25px;
    line-height: 20px;
  }
    &:hover{
      color: white;
    }
}
.sb-active {
  background: #2f3c46;
  border-left: 3px solid $white;
  .subitem-title{
    color: $white;
  }
}

.content{
  width: 100%;
  padding: 0;
  background-color: $grey;
  height: 100%;
  display: flex;
  .subitems{
    order: 1;
    width: 500px;
    .subitems-list{
      border-bottom: 1px solid #ddd;
      li{
        background: #F8F6F4;
        transition: background-color .3s ease;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-right: 3px solid darken($blue,10%);
        padding: 11px;
        margin: 0;
        display: flex;
        cursor: pointer;
        .subitem-logo{
          order: 1;
          margin-right: 20px;
        }
        .preview{
          order: 2;
          flex: 1;
          h3{
            margin: 0; 
            font-weight: 400;
            color: #333;
            small{
              float: right;
              color: #AAA;
              font-size: .8125rem;
            }
          }
          p{
            color: #888;
            margin: 5px 0;
          }
        }
        &:hover{
          background: #fff;
        }
        &.active{
          background: $blue;
          border-right: 3px solid rgba(0,0,0,0.1);
          .preview {
           h3, h3 small, p { color: #fff; }
        }
        }
      }
    }
  }
  .subitems-detail{
    -webkit-flex: 1;
    order: 2;
    background-color: $grey;
    h2{
      margin: 0;
      padding: 20px 20px;
      font-weight: 400;
    }
    p{
      padding: 20px 20px;
      font-size: 1rem;
      line-height: 1.75;
    }
  }
}