<header>
  <nav class="navigation">
    <div class="logotype">Notes</div>
    <ul class="categories">
      <li class="category-item"><a href="">Design</a></li>
      <li class="category-item"><a href="">Coding</a></li>
      <li class="category-item"><a href="">Books</a></li>
    </ul>
  </nav>
  <div class="nav-settings">
      <ul class="nav-settings-elements">
        <li class="nav-settings-elem"><a href="#">Add Note</a></li>
      </ul>
    </div>
</header>

<div class="wrapper">
    <aside class="sidebar">
    <ul class="sidebar-list">
      <li class="sidebar-item sb-active">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Coding
        </div>
      </li>
      <li class="sidebar-item">
         <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Design
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          News
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          New ideas
        </div>
      </li>
      <li class="sidebar-item">
        <img src="http://placehold.it/20x20" class=" subitem-logo sb-logo avatar" />
        <div class="subitem-title">
          Movies
        </div>
      </li>
    </ul>
  </aside>

  <main class="content add-note-content">
      <form>
        <div class="note-title">
            <label for="note-title-label" class="note-title-label">Title</label>
            <input type="text" class="note-title-input" placeholder="Add Title Note ...">
        </div>
        <div class="note-title">
            <label for="note-title" class="note-title-label">Subtitle</label>
            <input type="text" class="search" placeholder="Add Subtitle Notes ...">
        </div>
        <div class="note-title note-body">
            <label for="note-title" class="note-title-label">Body</label>
            <input type="text" class="textarea" placeholder="Add Body Notes ...">
        </div>
        <div class="tags"></div>
      </form> 
  </main>
</div>